extends layout

block content
  h1(class="titleh") Прогноз погоды
  form(class="form-inline")
   input(type='text' id='textbox' class="form-control" placeholder="Введите название города")
   button(type='button' id='like' class='btn btn-primary btn-lg' ) Поиск


